{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<h2><p align="center">Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p></h2>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta página. Para proceder,
    inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Inicie sesión para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div align="center">
  <h1><td>{{ form.username.label_tag }}</td></h1>
  <h2><td>{{ form.username }}</td></h2>
</div>
<div align="center">
  <h1><td>{{ form.password.label_tag }}</td></h1>
  <h2><td>{{ form.password }}</td></h2>
</div>

<div align="center">
  <h1><input type="submit" value="login" /></h1>
  <h1><input type="hidden" name="next" value="{{ next }}" /></h1>
</div>
</form>

{% endblock %}