{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    {% if user.is_authenticated %}
      <div class="content">
    <div id="bar">
      <div class="card-header" align="right">
            <a href="/upload-csv">CARGAR FICHERO</a>

            <input type="date" name="fechaInicio" step="1" min="2017-01-01" max="2020-12-31" value="2019-01-01" id="fechaInicio" ;>
            <input type="date" name="fechaFin" step="1" min="2017-01-01" max="2020-12-31" value="2019-01-01" id="fechaFin" action="Buscar()">
      </div>
    </div>
    <div id="container" class="row">
      <div class="col-lg-6 col-md-12 ">
        <div class="card card-tasks">
          <div class="card-header ">
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive ps ps--active-y">
              <font color="gray"><h1><p><strong><big>Datos eléctricos del mes en curso</big></strong></p></h1></font>
              <table class="table-responsive ps " style="height: 400px;">
                <tbody>
                  <tr>
                    <td style="width: 30%;">
                      <h3><div>Consumo de Energía Activa</div></h3>
                      <h4><div class="energiaActivaTotal" id="energiaActivaTotal" > - </div></h4>
                    </td>
                    <td style="width: 30%;" >
                      <h3><div>Consumo de Energía Reactiva</div></h3>
                      <h4><div class="energiaReactiva" id="energiaReactiva">Valor kVArh</div></h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3><div>Potencia Instalada</div></h3>
                      <h4><div>{{ power.1 }} kW</div></h4>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card ">
          <div class="card-header">

          </div>
          <div class="card-body">
            <div class="table-responsive ps">
              <table class="table tablesorter " id="" style="height: 400px;">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Fase
                    </th>
                    <th>
                      Voltaje (V)
                    </th>
                    <th>
                      Intensidad (A)
                    </th>
                    <th class="text-center">
                      Potencia Activa (W)
                    </th>
                    <th>
                      Potencia Activa (φ)
                    </th>
                    <th>
                      Potencia Reactiva (VAr)
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>
                      Varialble1
                    </td>
                    <td>
                      Varialble2
                    </td>
                    <td>
                      Varialble3
                    </td>
                    <td class="text-center">
                      Varialble4
                    </td>
                    <td>
                      Varialble5
                    </td>
                    <td>
                      Varialble6
                    </td>
                  </tr>
                </tbody>
              </table>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div id="container2 "class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <button id="1" onclick="grafica_2(1)" value="1">Potencia Activa</button>
            <button id="2" onclick="grafica_2(2)" value="2">Comparación (kW)</button>
            <button id="3" onclick="grafica_2(3)" value="3">Potencia Aparente</button>
            <button id="4" onclick="grafica_2(4)" value="4">Potencia Reactiva</button>
            <button id="5" onclick="grafica_2(5)" value="5">Intensidad</button>
            <button id="6" onclick="grafica_2(6)" value="6">Voltaje</button>
            <button id="7" onclick="grafica_2(7)" value="7">Factor de potencia</button>
            <button>Frecuencia</button>
          </div>
          <div class="card-body">
            <div class="chart-area"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <canvas id="speedChart" width="322" height="100%" style="display: block; width: 322px; height: 220px;" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <button>Consumo</button>
            <button>Consumo Reactivo</button>
          </div>
          <div class="card-body">
            <div class="chart-area"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <canvas id="chart" width="322" height="100%" style="display: block; width: 322px; height: 220px;" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   {% else %}
    <div align="center">
     <h1><div>NECESITAS ESTAR LOGEADO PARA VER LA INFORMACIÓN</div></h1>
      <h3><a href="/accounts/login/">CLICK</a></h3>
    </div>
   {% endif %}



  <script>

      var $consumoChart = $("#chart");

        var fechaInicio = Date.parse("2019/08/08");
        var fechaFin = Date.parse("2019/08/09");
        var arrayFechas = [];
        var arrayPower = [];
        var arrayEnergy = [];
        var energiaActiva = 0.0;
        var energiaReactiva = 0.0;

        for (let i = 0; i < {{ date | safe }}.length; i++) {
            var fechaAux = Date.parse({{ date | safe }}[i]);
            var power = {{ power | safe }}[i];
            var energy = {{ energy | safe }}[i];

            if (fechaInicio < fechaAux && fechaFin > fechaAux){
                arrayFechas.push({{ date | safe }}[i]);
                arrayPower.push(power);
                arrayEnergy.push(energy);
                energiaActiva = energiaActiva + energy;
                energiaReactiva = energiaReactiva + power;
                }
        }
        document.getElementById('energiaActivaTotal').innerHTML = energiaActiva + " kWh";
        document.getElementById('energiaReactiva').innerHTML = energiaActiva + " kVArh";

      data:
      $.ajax({
        url: $consumoChart.data("url"),
        success: function (data) {
          var ctx = $consumoChart[0].getContext("2d");

          window.graficaEnergia = new Chart(ctx, {
            type: 'line',
            data: {
              labels: arrayFechas,
              datasets: [{
                label: 'Energía',
                backgroundColor: 'blue',
                data: arrayPower
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              }
            }
          });
        }
      });

      var $PotenciaChar = $("#speedChart");

    data:
      $.ajax({
        url: $PotenciaChar.data("url"),
        success: function (data) {
          var ctx = $PotenciaChar[0].getContext("2d");
          window.graficaPotencia = new Chart(ctx, {
            type: 'line',
            data: {
              labels: arrayFechas,
              datasets: [{
                label: "Potencia",
                data: arrayEnergy,
                lineTension: 0,
                fill: false,
                borderColor: 'orange'
              }]
            },
            options: {
              legend: {
                display: true,
                position: 'top',
                labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                }
              }
            }
          });
        }
      });

  </script>
<script type="text/javascript">
document.getElementById('fechaFin').addEventListener('change', function() {
    grafica_1()
    grafica_2(1)
})

document.getElementById('fechaInicio').addEventListener('change', function() {
    grafica_1()
    grafica_2(1)
})

function grafica_1(){
        var $consumoChart = $("#chart");

        var fechaInicio = new Date(document.getElementById('fechaInicio').value);
        var fechaFin = new Date(document.getElementById('fechaFin').value);

        var arrayFechas = []
        var arrayPower = []
        var arrayEnergy = []
        var energiaActiva = 0.0
        var energiaReactiva = 0.0;

        for (let i = 0; i < {{ date | safe }}.length; i++) {
            var fechaAux = Date.parse({{ date | safe }}[i]);
            var power = {{ power | safe }}[i];
            var energy = {{ energy | safe }}[i];

            if (fechaInicio < fechaAux && fechaFin > fechaAux){
                arrayFechas.push({{ date | safe }}[i]);
                arrayPower.push(power);
                arrayEnergy.push(energy);
                energiaActiva = energiaActiva + energy;
                energiaReactiva = energiaReactiva + power;
                }
        }

        document.getElementById('energiaActivaTotal').innerHTML = energiaActiva;
        document.getElementById('energiaReactiva').innerHTML = energiaActiva;

          var ctx = $consumoChart[0].getContext("2d");
          if (window.graficaEnergia) {
        	window.graficaEnergia.clear();
	        window.graficaEnergia.destroy();
          }
          window.graficaEnergia = new Chart(ctx, {
            type: 'line',
            data: {
              labels: arrayFechas,
              datasets: [{
                label: 'Energía',
                backgroundColor: 'blue',
                data: arrayEnergy
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              }
            }
          });
}

function grafica_2(numero){

        var fechaInicio = new Date(document.getElementById('fechaInicio').value);
        var fechaFin = new Date(document.getElementById('fechaFin').value);

        var arrayFechas = []
        var arrayPower = []
        var arrayEnergy = []
        var energiaActiva = 0.0
        var energiaReactiva = 0.0;
        var valores = []

        if (numero == "1"){
          valores = {{ power | safe }};
        }else if(numero == "4"){
          valores = {{ reactivePower | safe }}
        }else if(numero == "5"){
          valores = {{ intensity | safe }}
        }else if(numero == "6"){
          valores = {{ voltage | safe }}
        }else if(numero == "7"){
          valores = {{ powerFactor | safe }}
        }

        for (let i = 0; i < {{ date | safe }}.length; i++) {
            var fechaAux = Date.parse({{ date | safe }}[i]);
            var power = valores[i];
            var energy = {{ energy | safe }}[i];

            if (fechaInicio < fechaAux && fechaFin > fechaAux){
                arrayFechas.push({{ date | safe }}[i]);
                arrayPower.push(power);
                arrayEnergy.push(energy);
                energiaActiva = energiaActiva + energy;
                energiaReactiva = energiaReactiva + power;
                }
        }

var $PotenciaChar = $("#speedChart");

      var ctx = $PotenciaChar[0].getContext("2d");
          if (window.graficaPotencia) {
        	window.graficaPotencia.clear();
	        window.graficaPotencia.destroy();
          }
          window.graficaPotencia = new Chart(ctx, {
            type: 'line',
            data: {
              labels: arrayFechas,
              datasets: [{
                label: "Potencia",
                data: arrayPower,
                lineTension: 0,
                fill: false,
                borderColor: 'orange'
              }]
            },
            options: {
              legend: {
                display: true,
                position: 'top',
                labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                }
              }
            }
          });
}

</script>

{% endblock %}